<!-- The home page link will be put on every page. -->
<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> - 
    <a href="{% url 'learning_logs:topics' %}">Topics</a> - 
    {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'users:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> - 
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
    <a href="{% url 'learning_logs:topics' %}">Topics</a> - 
    <a href="{% url 'learning_logs:new_topic' %}">New Topic</a>
</p>

{% block content %}{% endblock content %}